click==8.1.7
cryptography==45.0.4
Django==5.1.4
greenlet==3.1.1
opencc_python_reimplemented==0.1.7
pandas==2.3.0
python-decouple==3.8
python-dotenv==1.1.0
setuptools==78.0.2
simplejson==3.20.1
thread==2.0.5
watchdog==6.0.0
