{% extends "hakkadbapp/base.html" %}
{% load static %}

{% block content %}
{% include "hakkadbapp/components/expression_mesh_toolbar.html" %}
<ul class="divide-y divide-gray-300 space-y-8">
  {% for entry in hanzi_data %}
    <li class="pt-8 first:pt-0">
        {% include "hakkadbapp/components/hanzi_block.html" with hanzi=entry.hanzi simp=entry.simp trad=entry.trad pronunciations=entry.pronunciations related_words=entry.related_words related_expressions=entry.related_expressions %}
    </li>
  {% endfor %}
</ul>
<script src="{% static 'hakkadbapp/js/ExpressionMesh.js' %}"></script>
<script src="{% static 'hakkadbapp/js/WordNotes.js' %}"></script>
{% endblock %}
