{% extends "hakkadbapp/base.html" %}

{% block content %} 

{% for s in stats %}
    <div class="bg-white text-black rounded-lg shadow-md p-4 w-full sm:w-1/3">
        <h3 class="text-lg font-semibold text-red-600">{{ s.title }}</h3>
        <p class="text-3xl font-bold mt-2">{{ s.value }}</p>
        {% if s.description %}
            <p class="text-sm text-gray-600 mt-1">{{ s.description }}</p>
        {% endif %}
    </div>
{% endfor %}

<h1 class="text-xl font-semibold text-gray-800">
  Dernière importation du lexique : le {{ traces.timestamp|date:"j F Y à H:i:s" }} ({{errors }} erreurs)
</h1>
<div class="bg-gray-900 text-white rounded-lg p-4 text-sm font-mono overflow-auto shadow-md max-h-96">
  <pre>
    {{ traces.details|default:"Aucun log disponible" }}
</pre>
</div>





{% endblock %}