{% extends "hakkadbapp/base.html" %}

{% block content %} 


<p class="mb-6 text-gray-700">
    Cette page présente une synthèse de l’état du lexique analysé automatiquement pour la création de ce site. 
    Consultez également l’onglet <a class="text-blue-600 hover:underline" href="{% url 'caracters' %}"> Caractères </a>, en particulier la section sur les caractères à plusieurs prononciations, afin de détecter d’éventuelles incohérences dans les données.
</p>
<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
    {% for s in stats %}
        <div class="bg-white text-black rounded-lg shadow-md p-4">
            <h3 class="text-lg font-semibold text-red-600">{{ s.title }}</h3>
            <p class="text-3xl font-bold mt-2">{{ s.value }}</p>
            {% if s.description %}
                <p class="text-sm text-gray-600 mt-1">{{ s.description }}</p>
            {% endif %}
        </div>
    {% endfor %}
</div>


<h1 class="text-xl font-semibold text-gray-800">
  Dernière importation du lexique : le {{ traces.last.timestamp|date:"j F Y à H:i:s" }} ({{traces.errors }} erreurs)
</h1>
<div class="bg-gray-900 text-white rounded-lg p-4 text-sm font-mono overflow-auto shadow-md max-h-96">
  <pre>
    {{ traces.last.details|default:"Aucun log disponible" }}
</pre>
</div>





{% endblock %}