    <div id="word-list" hidden>
        <ul id="pron-list" class="flex flex-wrap gap-2">
        {% for p in pronunciations %}
            <li class="w-28" data-search="{{ p.simp }},{{ p.trad }},{{ p.initial.initial }},{{ p.final.final }},{{ p.tone.tone_number|default:'' }}">
                <div class="text-indigo-600 font-semibold text-lg">{{ p.simp }}</div>
                <div class="text-indigo-600 font-semibold text-lg">{{ p.trad }}</div>
                <div class="text-gray-700">
                  {% include "hakkadbapp/components/pinyin_switch.html" with i=p.initial.initial f=p.final.final t=p.tone.tone_number %}
                </div>
            </li>
        {% empty %}
            <li class="text-gray-500 italic">No pronunciations found.</li>
        {% endfor %}
        </ul>
    </div>